@use './variables' as *;
@use './mixins' as *;

html {
  font-size: 100%;
}

body {
  font-family: $font-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $color-bg;
  color: $color-text;
  max-width: $bp-xl;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}