@use './variables' as *;

@mixin mq($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $bp-sm) { @content; }
  } @else if $breakpoint == md {
    @media (min-width: $bp-md) { @content; }
  } @else if $breakpoint == lg {
    @media (min-width: $bp-lg) { @content; }
  } @else if $breakpoint == xl {
    @media (min-width: $bp-xl) { @content; }
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}
