@use './variables' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $spacing-3;
  font-weight: $font-weight-semibold;
  color: $color-text;
  font-size: $font-size-lg;
  letter-spacing: $letter-spacing-wide;
}

p {
  margin: 0 0 $spacing-3;
  color: $color-text;
}

.small-text {
  font-size: $font-size-sm;
  color: $color-text;
}